// 主色
$color-primary: #5662FF;
$color-linear-primary: linear-gradient(357deg,rgba(79,57,247,1) 0%,rgba(114,125,253,1) 100%);
$color-linear-strange: linear-gradient(159deg,rgba(252,204,97,1) 0%,rgba(245,166,35,1) 100%);

// 侧边栏
$color-aside-active-linear:linear-gradient(89deg,rgba(125,136,250,1) 0%,rgba(86,98,255,1) 100%);

// 辅助色
$color-info: #909399;
$color-success: #00CD69;
$color-highlight: #F5A623;
$color-danger: #e02020;

// 文字
$color-text-main: #373B45;
$color-text-normal: #6F7E90;
$color-text-sub: #909399;
$color-text-placehoder: #9DACCA;
$color-text-tree-main: #335894;
// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 背景
$color-bg: #f8f8f9;
$color-bg-aside: #F9F9FC;