$z-fab                : 990 ;
$z-side               : 1000 ;
$z-marginals          : 2000 ;
$z-fixed-drawer       : 3000 ;
$z-fullscreen         : 6000 ;
$z-menu               : 6000 ;
$z-top                : 7000 ;
$z-tooltip            : 9000 ;
$z-notify             : 9500 ;
$z-max                : 9998 ;